* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  @font-face {
    font-family: 'OpenSans';
    src: url(../fonts/OpenSans-Regular.ttf);
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'OpenSans';
    src: url(../fonts/OpenSans-Bold.ttf);
    font-weight: 700;
    font-style: normal;
  }
  
  .header {
    padding: 28px 0 125px 0;
    text-align: center;
    background-image: url("../img/banner-bg.jpg");
    background-color: #666666;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    position: relative;
    z-index: 0;
  }
  
  .header::after {
    content: "";
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.6;
    z-index: -1;
  }
  
  .header-container {
   width: 1200px;
   padding: 0 15px;
   margin-left: auto;
   margin-right: auto;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
  }
  
  .header-logo {
    width: 180px;  
  }
  
  .header-logo-img {
    width: 100%;
  }
  
  .menu {
    padding-top: 14px;
  }
  
  .menu-list {
    font-family: "OpenSans", Arial, sans-serif;
    font-size: 13px;
    line-height: normal;
    text-transform: uppercase;
    list-style-type: none;
    display: flex;
  }
  
  .menu-list-item:nth-child(n+2) {
    margin-left: 35px;
  }
  
  .menu-link {
    text-decoration: none;
    color: #ffffff;
  }
  
  .menu-link:hover {
    text-decoration: underline;
  }
  
  .header-label {
    margin: 100px auto 0;
    width: 700px;
    font-family: "OpenSans", Arial, sans-serif;
    font-weight: 700;
    font-size: 45px;
    line-height: 1.67;
    color: #ffffff;
    text-transform: uppercase;
  }

  .trends {
    margin-top: 60px;
  }

  .trends-label {
    text-align: center;
    font-family: "OpenSans", Arial, sans-serif;
    font-size: 125%;
    font-weight: 700;
    line-height: 1.0;
    text-transform: uppercase;
    color: #000000;
    position: relative;
  }
  
  .trends-label::before {
    content: "";
    width: 66px;
    height: 3px;
    background-color: #e1d9bd;
    position: absolute;
    top: 32px;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .trends-containers {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    min-height: 320px;
    margin-top: 45px;
  }

  .trend-container {
    width: 24.7%;
    background-color: #666666;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    position: relative;
    z-index: 0;
  }
  
  .trend-container::after {
    content: "";
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.6;
    z-index: -1;
  }

  .trend-background1 {
    background-image: url("../img/trend1.jpg");
  }

  .trend-background2 {
    background-image: url("../img/trend2.jpg");
  }
  
  .trend-background3 {
    background-image: url("../img/trend3.jpg");
  }
  
  .trend-background4 {
    background-image: url("../img/trend4.jpg");
  }

  .page {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 63px 15px 65px;
    display: flex;
    justify-content: space-between;
  }
  
  .main-container {
   width: 780px;
   display: flex;
  }
  
  .main-container:nth-child(n+2) {
    margin-top: 60px;
  }
  
  .main-container-image {
    width: 381px;
    height: 100%;
  }
  
  .main-container-text {
    margin-left: 30px;
    max-width: 375px;
    min-height: 294px;
  }
  
  .meta-list {
    font-family: "OpenSans", Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
  }
  
  .meta-list-item{
    margin-right: 18px;
  }
  
  .meta-link {
    text-decoration: none;
    color: #b59f5b;
  }
  
  .text-title {
    max-width: 345px;
    margin-top: 6px;
  }
  
  .title-link {
    text-decoration: none;
    font-family: "OpenSans", Arial, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.15;
    text-transform: uppercase;
    color: #0f0d0e;
    display: block;
  }
  
  .text-row {
    margin-top: 29px;
  }
  
  .text-time {
    font-family: "OpenSans", Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    color: #888888;  
  }
  
  .text-author {
    margin-left: 8px;
    font-family: "OpenSans", Arial, sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: normal;
    color: #000000;  
  }
  
  .text-copyright {
    margin-top: 44px;  
  }
  
  .copyright-link {
    text-decoration: none;
    font-family: "OpenSans", Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
  }
  
  .copyright-desc {
    margin-bottom: 10px;
  }
  
  .sidebar {
    width: 270px;
  }
  
  .sidebar-label {
    text-align: center;
    font-family: "OpenSans", Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.0;
    text-transform: uppercase;
    color: #000000;
    position: relative;
  }
  
  .sidebar-label::before {
    content: "";
    width: 66px;
    height: 3px;
    background-color: #e1d9bd;
    position: absolute;
    top: 26px;
    left: 105px;
  }
  
  .sidebar-containers {
   margin-top: 45px;
  }
  
  .sidebar-container {
   width: 100%;
   display: flex;
  }
  
  .sidebar-container:nth-child(n+2) {
    margin-top: 22px;
  }
  
  .sidebar-container-image {
    width: 70px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .sidebar-container-text {
    margin-left: 18px;
    width: 200px;
  }
  
  .sidebar-text-time {
    font-family: "OpenSans", Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
    color: #888888;
    display: block;
  }
  
  .sidebar-text-title{
    margin-top: 2px;
  }
  
  .sidebar-title-link {
    text-decoration: none;
    font-family: "OpenSans", Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.1;
    text-transform: uppercase;
    color: #0f0d0e;
  }
  
  .sidebar-search {
    margin-top: 60px;
    display: flex;
  }
  
  .sidebar-search-group {
    position: relative;
  }
  
  .search-field {
    width: 220px;
    height: 48px;
    font-family: "OpenSans", Arial, sans-serif;
    font-size: 13px;
    padding: 0 18px;
    border: none;
    background-color: #f4f7f6;
  }
  
  .visually-hidden-info {
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
  }
  
  .sidebar-search-group:hover .visually-hidden-info, 
  .button-search:hover .visually-hidden-info, 
  .sidebar-subscription-field:hover .visually-hidden-info, 
  .button-submit:hover .visually-hidden-info, 
  .social-icon:hover .visually-hidden-info {
    top: 40px;
    height: auto;
    width: auto;
    position: absolute;
    clip: auto;
    font-family: "OpenSans", Arial, sans-serif;
    color: #000000;
    font-size: 14px;
    display: block;
    border: 1px solid #000000;
    padding: 0 4px;
    background-color: #ffffff;
    white-space: nowrap;
    z-index: 1;
    text-transform: none;
    font-weight: 400;
    font-style: normal;
  }
  
  .button-search {
    width: 48px;
    height: 48px;
    border: none;
    background-color: #b59f5b;
    cursor: pointer;
    background-image: url("../svg/search.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 18px;
    position: relative;
  }
  .sidebar-subscription {
    margin-top: 60px;
  }
  .sidebar-subscription-group {
    margin-top: 40px;
  }
  
  .sidebar-subscription-field {
    position: relative;
  }
  
  .subscription-field {
    width: 100%;
    height: 48px;
    font-family: "OpenSans", Arial, sans-serif;
    font-size: 13px;
    border: none;
    background-color: #f4f7f6;
    padding: 0 18px;
  }
  
  .button-submit {
    margin-top: 16px;
    width: 100%;
    height: 48px;
    font-family: "OpenSans", Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    color: #ffffff;
    border: none;
    background-color: #b59f5b;
    cursor: pointer;
    position: relative;
  }
  
  .sidebar-tegs {
    margin-top: 59px;
  }
  
  .sidebar-tegs-list {
    padding-top: 35px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .sidebar-tegs-item {
    margin-right: 9px;
    list-style-type: none;
  }
  
  .tegs-item-style {
    font-family: "OpenSans", Arial, sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 3.0;
    text-transform: uppercase;
    color: #000000;
    border: 3px solid #ededed;
    padding: 3px 12px;
    text-decoration: none;
  }
  
  .sidebar-themes {
    margin-top: 56px;
  }
  
  .themes-list {
    margin-top: 39px;
  }
  
  .themes-list-item {
    list-style-type: none;
    padding-bottom: 12px;
    border-bottom: 2px solid #eeeeee;
  }
  
  .themes-list-item:nth-child(n+2) {
    margin-top: 14px;
  }
  
  .themes-list-link {
    font-family: "OpenSans", Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    color: #000000;
  }
  
  .theme-number {
    font-family: "OpenSans", Arial, sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: normal;
    color: #b59f5b;
    vertical-align: top;
  }
  
  .footer {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px; 
  }
  
  .footer-address-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding: 30px 0;
    background-color: #f4f6f7;
  }
  
  .footer-address-item {
    margin-right: 28px;
  }
  
  .social-icon {
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 25px;
    display: block;
    position: relative;
  }
  
  .social-icon-twitter {
    background-image: url("../svg/004-twitter.svg");  
  }
  
  .social-icon-pinterest {
    background-image: url("../svg/001-pinterest.svg");  
  }
  
  .social-icon-facebook {
    background-image: url("../svg/002-facebook-logo.svg");  
  }
  
  .social-icon-instagram {
    background-image: url("../svg/005-instagram.svg");  
  }
  
  .social-icon-tumblr {
    background-image: url("../svg/003-tumblr.svg");  
  }
  
  .footer-row {
    margin-top: 70px;
    margin-bottom: 40px;
    text-align: center;
  }
  
  .footer-link{
    list-style-type: none;
    text-decoration: none;
  }
  
  .footer-link-style {  
    font-family: "OpenSans", Arial, sans-serif;
    font-size: 12px;
    line-height: normal;
    color: #999999;
  }
  